{
  "presets": [
    "next/babel",
    "stage-0"
  ],
  
  "plugins": [
    ["provide-modules", {
      "isomorphic-fetch": "fetch"      
    }],

    ["transform-define", "./config/env.js"],

    ["module-resolver", {
      "root": ["./", "./src"]
    }]
  ]
}